/* 去除常见标签默认的 margin 和 padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
  font: 14px/1 'PingFangSC-Regul', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  color: #333;
}
/* 去除列表默认样式 */
ul,
ol,
li {
  list-style: none;
}
/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}
/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  text-decoration: none;
  color: #333;
}
/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
  width: 100%;
  vertical-align: middle;
}
/* 去除input默认样式 */
input {
  border: none;
  outline: none;
  color: #333;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1.866667vw;
  width: 100%;
  height: 11.733333vw;
  background-color: #c21401;
  font-size: 4.266667vw;
  text-align: center;
  line-height: 11.733333vw;
  color: white;
  font-weight: 700;
}
header h2 {
  margin: 0 auto;
  width: 62.666667vw;
  height: 8vw;
  font-size: 4.266667vw;
  line-height: 8vw;
}
footer {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  display: flex;
  border-top: 0.266667vw solid #999;
  align-items: center;
  width: 100%;
  height: 13.333333vw;
  background-color: #fff;
}
footer .active {
  color: #fa2209;
}
footer a {
  width: 25%;
  text-align: center;
}
footer a .iconfont {
  font-size: 6.4vw;
}
footer a h6 {
  margin-top: 0.8vw;
  font-weight: 400;
  font-size: 3.2vw;
}
.search {
  margin-top: 11.733333vw;
  padding: 2.666667vw;
  width: 100%;
  height: 13.333333vw;
  background: #f1f1f2;
  font-size: 3.466667vw;
}
.search .search-content {
  display: flex;
  width: 94.666667vw;
  height: 8vw;
  background: #fff;
  line-height: 8vw;
  color: #999;
  padding: 0 2.666667vw;
  border-radius: 4vw;
}
.search .search-content .iconfont {
  display: inline;
  font-size: 3.466667vw;
  color: #999;
}
.search .search-content a {
  margin-left: 1.066667vw;
  width: 100%;
  color: #999;
}
.banner {
  position: relative;
  overflow: hidden;
  margin-bottom: 0.533333vw;
  width: 100%;
}
.banner .swiper-slide {
  text-align: center;
  font-size: 4.8vw;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notice {
  display: flex;
  padding: 1.333333vw 3.2vw;
  height: 8vw;
  line-height: 5.333333vw;
  background: #525252;
}
.notice .iconfont {
  font-size: 4.8vw;
  color: #fff;
}
.notice p {
  flex: 1;
  margin-left: 1.333333vw;
  color: #fff;
  font-size: 3.733333vw;
  overflow: hidden;
}
.notice p span {
  display: block;
  animation: move 5s infinite linear;
}
@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.navBar ul {
  height: 45.333333vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.navBar ul a {
  text-align: center;
  display: block;
  width: 20%;
  height: 38%;
}
.navBar ul a .pic {
  margin: 0 auto 1.066667vw;
  width: 11.733333vw;
  height: 11.733333vw;
}
.navBar ul a h3 {
  font-size: 3.466667vw;
  font-weight: 400;
}
.image {
  padding-bottom: 1.866667vw;
  height: 35.2vw;
}
.richText h4 {
  margin-bottom: 1.066667vw;
  padding: 1.333333vw 0;
  height: 8vw;
  background: #fff;
  text-align: center;
  font-weight: 400;
}
.goods {
  background-color: #f1f2f3;
}
.goods ul a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6vw;
  padding: 2.666667vw;
  background-color: #fff;
  width: 100vw;
  height: 37.333333vw;
}
.goods ul a .left {
  width: 32vw;
  height: 32vw;
}
.goods ul a .right {
  width: 56vw;
  font-size: 3.2vw;
  color: #999;
}
.goods ul a .right h5 {
  font-size: 3.466667vw;
  color: #484848;
  font-weight: 400;
  line-height: 1.3;
}
.goods ul a .right .sold {
  margin: 2.666667vw 0;
}
.goods ul a .right .price {
  line-height: 1.6;
}
.goods ul a .right .price span {
  margin-right: 1.066667vw;
  color: #f03c3c;
  font-size: 4vw;
}
.goods ul a:last-child {
  margin-bottom: 14.933333vw;
}
