/* 去除常见标签默认的 margin 和 padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
  font: 14px/1 'PingFangSC-Regul', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  color: #333;
}
/* 去除列表默认样式 */
ul,
ol,
li {
  list-style: none;
}
/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}
/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  text-decoration: none;
  color: #333;
}
/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
  width: 100%;
  vertical-align: middle;
}
/* 去除input默认样式 */
input {
  border: none;
  outline: none;
  color: #333;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1.866667vw;
  width: 100%;
  height: 11.733333vw;
  background-color: #c21401;
  font-size: 4.266667vw;
  text-align: center;
  line-height: 11.733333vw;
  color: white;
  font-weight: 700;
}
header h2 {
  margin: 0 auto;
  width: 62.666667vw;
  height: 8vw;
  font-size: 4.266667vw;
  line-height: 8vw;
}
footer {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  display: flex;
  border-top: 0.266667vw solid #999;
  align-items: center;
  width: 100%;
  height: 13.333333vw;
  background-color: #fff;
}
footer .active {
  color: #fa2209;
}
footer a {
  width: 25%;
  text-align: center;
}
footer a .iconfont {
  font-size: 6.4vw;
}
footer a h6 {
  margin-top: 0.8vw;
  font-weight: 400;
  font-size: 3.2vw;
}
.search {
  margin-top: 11.733333vw;
  padding: 2.666667vw;
  width: 100%;
  height: 13.333333vw;
  background: #f1f1f2;
  font-size: 3.466667vw;
}
.search .search-content {
  display: flex;
  width: 94.666667vw;
  height: 8vw;
  background: #fff;
  line-height: 8vw;
  color: #999;
  padding: 0 2.666667vw;
  border-radius: 4vw;
}
.search .search-content .iconfont {
  display: inline;
  font-size: 3.466667vw;
  color: #999;
}
.search .search-content a {
  margin-left: 1.066667vw;
  width: 100%;
  color: #999;
}
body {
  background-color: #fafafa;
}
.login,
.user,
.goods,
.serviceinfo {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.login {
  height: 34.666667vw;
  background: url('http://cba.itlike.com/public/mweb/static/background/user-header2.png') center / 100% 100%;
}
.login a {
  margin-left: 5.333333vw;
  display: flex;
  align-items: center;
  height: 13.333333vw;
}
.login a .pic {
  width: 13.333333vw;
  height: 13.333333vw;
  border-radius: 50%;
  overflow: hidden;
}
.login a .txt {
  margin-left: 4vw;
  color: #c59a46;
  line-height: 1.3;
}
.login a .txt h2 {
  font-size: 4.533333vw;
}
.login a .txt p {
  margin-top: 1.6vw;
  font-size: 4vw;
}
.user {
  display: flex;
  padding: 5.333333vw 0;
  height: 23.466667vw;
  background-color: #fff;
}
.user .left {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.user .left a {
  padding: 0 2.133333vw;
  text-align: center;
  line-height: 1.3;
}
.user .left a .info {
  color: #f00;
  font-size: 4.533333vw;
  font-weight: 400;
}
.user .left a .sp {
  font-size: 3.733333vw;
  color: #666;
}
.user .right {
  width: 26.666667vw;
  border-left: 0.266667vw solid #999;
  text-align: center;
}
.user .right .info {
  margin-bottom: 1.866667vw;
}
.user .right .info .iconfont {
  font-size: 5.866667vw;
}
.goods {
  margin: 2.666667vw 2.933333vw;
  padding: 2.666667vw 0;
  height: 20.8vw;
}
.goods a {
  width: 25%;
  text-align: center;
  font-size: 3.733333vw;
  color: #333;
}
.goods a span {
  display: block;
  line-height: 1.3;
}
.goods a .iconfont {
  padding: 1.333333vw 0;
  font-size: 5.866667vw;
}
.service {
  margin: 2.933333vw;
  padding: 2.933333vw 0;
  height: 46.4vw;
  background-color: #fff;
}
.service .tittle {
  margin-bottom: 2.666667vw;
  padding-left: 3.2vw;
  font-size: 4vw;
}
.service .tittle h3 {
  font-size: 4vw;
  font-weight: 400;
  color: #303133;
}
.service .serviceinfo {
  flex-wrap: wrap;
  margin-bottom: -2.666667vw;
}
.service .serviceinfo a {
  text-align: center;
  margin-bottom: 4vw;
  width: 25%;
  line-height: 1.3;
}
.service .serviceinfo a span {
  display: block;
  font-size: 3.733333vw;
  color: #545454;
}
.service .serviceinfo a .iconfont {
  padding: 1.866667vw 0;
  color: #ff3800;
  font-size: 5.866667vw;
}
.logout {
  display: none;
  justify-content: center;
}
.logout p {
  margin: 6.666667vw auto 0;
  padding: 2.133333vw 0;
  width: 60%;
  font-size: 3.733333vw;
  color: #616161;
  border-radius: 2.666667vw;
  border: 0.266667vw solid #dcdcdc;
  text-align: center;
}
